{#
    /**
     * @file
     * Default theme implementation to display a menu.
     *
     * Available variables:
     * - classes: A list of classes to apply to the top level <ul> element.
     * - dropdown_classes: A list of classes to apply to the dropdown <ul> element.
     * - menu_name: The machine name of the menu.
     * - items: A nested list of menu items. Each menu item contains:
     *   - attributes: HTML attributes for the menu item.
     *   - below: The menu item child items.
     *   - title: The menu link title.
     *   - url: The menu link url, instance of \Drupal\Core\Url
     *   - localized_options: Menu link localized options.
     *
     * @ingroup templates
     *
     * Define a custom macro that will render all menu trees.
     */
    #}

{% import _self as menus %}
  {{ menus.menu_links(items, attributes, 0, menu_name) }}
    {% macro menu_links(items, attributes, menu_level, menu_name) %}
      {% import _self as menus %}
        {% if items %}
          {% if menu_level == 0 %}
            {% 
              set menu_class = [
                'vt-menu-' ~ menu_name|clean_class, 
              ]  
            %}
            <ul{{ attributes.addClass(menu_class) }}>
          {% else %}
            <ul class="vt-submenu">
          {% endif %}
          {% for item in items %}
            {%
              set classes = [
                'vt-item',
                item.is_expanded ? 'menu-item--expanded',
                item.is_collapsed ? 'menu-item--collapsed',
                item.in_active_trail ? 'menu-item--active-trail',
              ]
            %}
            <li{{ item.attributes.addClass(classes) }}>
              {%
                set link_classes = [
                  'vt-link',
                  item.in_active_trail ? 'active',
                ]
              %}
              {{ link(item.title, item.url, {'class': link_classes}) }}
              {% if item.below %}
                {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
              {% endif %}
            </li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endmacro %}