{#
/**
    * @file
    * Default theme implementation to display primary and secondary local tasks.
    *
    * Available variables:
    * - primary: HTML list items representing primary tasks.
    * - secondary: HTML list items representing secondary tasks.
    *
    * Each item in these variables (primary and secondary) can be individually
    * themed in menu-local-task.html.twig.
    *
    * @ingroup themeable
    */
#}
{% if primary %}
    <h2 class="visually-hidden">{{ 'Primary tabs'|t }}</h2>
    <ul class="vt-nav">{{ primary }}</ul>
{% endif %}
{% if secondary %}
    <h2 class="visually-hidden">{{ 'Secondary tabs'|t }}</h2>
    <ul class="vt-nav">{{ secondary }}</ul>
{% endif %}