.container {
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
}
.vt-row {
    @include flexbox;
    @include flex-wrap(wrap);
    @include lg {
        margin-left: -15px;
        margin-right: -15px;
    }
}
.vt-row > * {
    padding: 0 15px;
}

// mobile first
.vt-col-1,
.vt-col-2,
.vt-col-3,
.vt-col-4,
.vt-col-5,
.vt-col-6,
.vt-col-7,
.vt-col-8,
.vt-col-9,
.vt-col-10,
.vt-col-11,
.vt-col-12 {
    flex: 0 0 auto;
    width: 100%;
}


@include lg {
    .vt-col-1 {
        flex: 0 0 auto;
        width: 8.33333333333%;
    }
    .vt-col-2 {
        flex: 0 0 auto;
        width: 16.6666666667%;
    }
    .vt-col-3 {
        flex: 0 0 auto;
        width: 25%;
    }
    .vt-col-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
    .vt-col-5 {
        flex: 0 0 auto;
        width: 41.6666666667%;
    }
    .vt-col-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    .vt-col-7 {
        flex: 0 0 auto;
        width:58.3333333333%;
    }
    .vt-col-8 {
        flex: 0 0 auto;
        width: 66.6666666667%;
    }
    .vt-col-9 {
        flex: 0 0 auto;
        width: 75%;
    }
    .vt-col-10 {
        flex: 0 0 auto;
        width: 83.3333333333%;
    }
    .vt-col-11 {
        flex: 0 0 auto;
        width: 91.6666666667%;
    }
    .vt-col-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}