.vt-view-header {
    margin-bottom: 0.5rem;
}
.vt-views-label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: inline-block;
}
.vt-view-item,
.vt-view-row{
    &:not(:last-child){
        margin-bottom: 1rem;
    }
}
.vt-views-field {
    margin-bottom: 0.25rem;
}
.vt-view-items-lists{
    padding-bottom: 1rem;
}
.vt-pager {
    justify-content: center;
    margin: 1rem 0;
    .vt-Pagination {
        gap: 0.5rem;
    }
}
.vt-pager-item{
    display: flex;
    text-align: center;
    a{
        text-align: center;
        padding: 0.2rem 0.6rem;
        display: block;
        border: 1px solid $brand-color;
        -webkit-transition: .3s;
        -moz-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        &:hover {
            background: $brand-color;
            color: $white;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            transform: translateY(-2px);
        }
    }
}
.vt-mini-Pagination{
    .vt-pager-item{
        line-height: 2rem;
        a{
            line-height: 20px;
            padding-bottom: 5px;
        }
    }
}
.vt-pager-item.is-active {
    a {
        background: $brand-color;
        color: $white;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        &:hover {
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
    }
}
