.vt-block {
    margin-bottom: 1rem;
    -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeIn;
        animation: 500ms ease-in-out 0s normal none 1 running fadeIn;
}
.vt-page-title {
    font-weight: bold;
    font-size: 2rem;
    &::first-letter{
        text-transform: capitalize;
    }
}