%default-input {
  border: solid 1px transparent;
  background: #f6f6f6;
  padding: 0 20px;
  line-height: 2.5;
  border-radius: .2rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-top: 0.5rem;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transform: translateY(-2px);
  }
  &:focus-visible {
    border: solid 1px $brand-color;
    outline: none;
    transform: translateY(-2px);
  }
}
form {
  margin-bottom: 1.5rem;
  -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeIn;
        animation: 500ms ease-in-out 0s normal none 1 running fadeIn;
      }
.vt-form-wraper {
  margin-bottom: 1.2rem;
  clear: both;
  width: 100%;
  float: left;
  &.vt-form-type-checkbox,
  &.vt-form-type-radio {
    margin-bottom: 0.5rem;
  }
  &.fieldgroup {
    legend {
      margin-bottom: 0.5rem;
      display: inline-block;
    }
  }
  // &:not(.vt-form-type-checkbox, .vt-form-type-radio){
  //   label {
  //     margin-bottom: 0.5rem;
  //     display: block;
  //   }
  // }
}
.nice-select {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-top: 0.5rem;
  &.open {
    z-index: 1;
  }
  &:hover {
    transform: translateY(-2px);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 9;
  }
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

// input type text
input[type=password],
input[type=search],
input[type=tel],
input[type=number],
input[type=text],
input[type=email],
textarea {
  width: 100%;
  display: block;
  @extend %default-input;
}
input[type=range] {
  width: 100%;
  display: block;
  -webkit-appearance: none;
  height: 15px;
  background: linear-gradient(to right, $brand-color 0%, #9A2720 100%);
  background-position: center;
  background-repeat: no-repeat;
  outline: none;
  margin: 0.5rem 0 0 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  &::-webkit-slider-thumb{
    -webkit-appearance:none;
    width:15px;
    height:30px;
    background: $white;
    position:relative;
    z-index:3;
    box-shadow:0 0 5px 0 rgba(0,0,0,0.4);
  }
}


// checkbox css
.vt-form-type-checkbox{
  position: relative;
  .form-checkbox {
    position: relative;
    margin: 0 1rem 0 0 ;
    opacity: 0;
    cursor: pointer;
    + span {
      &:before {
        -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
        -moz-transition: -moz-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
        transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
        -webkit-transform: rotate(-45deg) scale(0, 0);
        -moz-transform: rotate(-45deg) scale(0, 0);
        -ms-transform: rotate(-45deg) scale(0, 0);
        -o-transform: rotate(-45deg) scale(0, 0);
        transform: rotate(-45deg) scale(0, 0);
        content: "";
        position: absolute;
        z-index: 1;
        border: 2px solid $brand-color; 
        border-top-style: none;
        border-right-style: none;
        height: 0.35rem;
        width: 0.7rem;
        left: 4px;
        top: 9px;
      }
      &:after {
        content: "";
        position: absolute;
        left: 0;
        width: 1.2rem;
        height: 1.2rem;
        background: #fff;
        border: 2px solid $brand-color;
        cursor: pointer;
        top: 3px;
      }
    }
    &:checked {
      + span {
        &:before {
          -webkit-transform: rotate(-45deg) scale(1, 1);
          -moz-transform: rotate(-45deg) scale(1, 1);
          -ms-transform: rotate(-45deg) scale(1, 1);
          -o-transform: rotate(-45deg) scale(1, 1);
          transform: rotate(-45deg) scale(1, 1);
          } 
      }
    }
  }
}
// radio button css
.vt-form-type-radio{
  position: relative;
  .form-radio {
    position: relative;
    margin: 0 1rem 0 0 ;
    cursor: pointer;
    opacity: 0;
    +span {
      position: absolute;
      left: 0;
      top: 3px;
      &:before {
        -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
        -moz-transition: -moz-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
        transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
        -webkit-transform: scale(0, 0);
        -moz-transform: scale(0, 0);
        -ms-transform: scale(0, 0);
        -o-transform: scale(0, 0);
        transform: scale(0, 0);
        content: "";
        position: absolute;
        top: 0.3rem;
        left: 0.3rem;
        z-index: 1;
        width: 0.6rem;
        height: 0.6rem;
        background: $brand-color;
        border-radius: 50%;
      }
    }
    &:checked {
      +span{
        &:before {
          -webkit-transform: scale(1, 1);
          -moz-transform: scale(1, 1);
          -ms-transform: scale(1, 1);
          -o-transform: scale(1, 1);
          transform: scale(1, 1);
        }
      }
    }
    +span{
      &:after {
        content: "";
        position: absolute;
        width: 1.2rem;
        height: 1.2rem;
        background: #fff;
        border: 2px solid $brand-color;
        border-radius: 50%;
      }
    }
  }
}

// Select box scss
.vt-form-type-select {
  label {
    display: block;
  }
}