{#
    /**
     * @file
     * Default theme implementation to display a region.
     *
     * Available variables:
     * - content: The content for this region, typically blocks.
     * - attributes: HTML attributes for the region <div>.
     * - region: The name of the region variable as defined in the theme's
     *   .info.yml file.
     *
     * @see template_preprocess_region()
     *
     * @ingroup themeable
     */
    #}
    {%
        set classes = [
          'vt-region',
          'vt-region-' ~ region|clean_class,
        ]
      %}
    {% if content %}
      <div{{ attributes.addClass(classes) }}>
        {{ content }}
      </div>
    {% endif %}